.cta {
    background-size: cover;
    padding: 10rem 0;
    background-color: var(--color-light-gray);

    hr {
        width: 50%;
        background-color: var(--color-green);
        height: 2px;
        margin: 1rem 0;
        outline: none;
        border: none;

    }

    .button {
        margin-top: 1rem;
    }
}

.cta__content {
    width: clamp(600px, 50%, 90vw);

    @media screen and (width < 850px) {
        width: 100%;
    }
}