@use '../../css/src/general/mixins' as *;

.responsive-spacer {
  visibility: hidden;
  width: 100%;
  height: var(--mobile-height);

  @include responsive(medium) {
    height: var(--tablet-height);
  }

  @include responsive(large) {
    height: var(--desktop-height);
  }
}
