h1,
.h1 {
    font-weight: 600;
    font-size: clamp(2rem, 2rem + 2vw, 4rem);
    line-height: 1.2;

    @media screen and (width < 900px) {
        font-size: 1.6rem;
    }
}

h2,
.h2 {
    font-weight: 600;
    font-size: clamp(1.5rem, 1.5rem + 2vw, 2.5rem);
    line-height: 1.2;
}

h3,
.h3 {
    font-weight: 600;
    font-size: clamp(1.2rem, 1rem + 2vw, 1.7rem);
    line-height: 1.2;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-content {
    padding: 2rem 0;
}

.original {
    font-size: 12px;
    color: var(--color-green-faded);
}

.wp-block-group {

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-block: 0.5em;
    }

    p {
        margin-bottom: 0.5rem;
    }

    a {
        color: var(--color-green);
        text-decoration: none;
        transition: color 0.2s;
        font-weight: bold;

        &:hover {
            color: var(--color-green-faded);
        }
    }
}